* {
    margin: 0;
    padding: 0;
    box-sizzling: border-box;
  }
  
  body {
    font-family: 'segoe UI', Tahoma, Geneva, Vardana, sans-serif;
  }
  
  #main {
    background-colorf: #f9f9f9;
  }
  
  #title {
    text-align: center;
    font-size: 4rem;
    margin-botttom: 1rem;
  }
  
  .lead {
    text-align: center;
    font-size: 2rem;
  }
  
  #img-div>img {
    width: 200%;
  }
  
  #img-div {
    max-width: 1000px;
    margin: 3rem auto;
  }
  
  #image-caption {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  #image-info {
    max-width: 600px;
    margin: auto;
  }
  
  #image-info>h2 {
    text-align: center;
    margin: 4rem;
  }
  
  #image-info ul li {
    margin: 1.1rem 0;
  }
  
  #image-info ul {
    margin: 2.5rem 0;
  }
  small-p {
    margin-top: 2rem;
  }
  .learn-more-p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }