body {
    background-color: burlywood;
    font-family: sans-serif;
    text-align: center;
}
form {
    background-color: #fff;
    max-width: 600px;
    margin: 60px auto;
    padding: 40px 30px;
    box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.5);
}
form {
width: 50vw;
max-width: 600px;
min-width: 400px;
margin: 0 auto;
padding-bottom: 2em;
}
.form-control label {
    display: block;
    margin-bottom: 11px;
}

